.container {
  font-size: 18px;
  line-height: 21.09px;

  input {
    text-align: left;
    text-decoration-skip-ink: none;
    border-radius: 5px;
    background-color: var(--text-color-white);
    padding: 7px 8px 6px 8px;
    border: none;
    margin: 20px 0;
    width: 100%;
    height: 35px;
    border-radius: 5px;
  }

  button {
    border: none;
    font-size: 18px;
    line-height: 21.09px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(94, 108, 132, 1);
    display: flex;
    cursor: pointer;
    transition: color 0.3s;
    height: 29px;
    border-radius: 5px;
    padding: 5px;
  }

  button:hover {
    background-color: var(--bg-color-board-bg);
    color: var(--text-color-white);
  }
}
